target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/encodings.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/vcs.xml
c#/ClinicService/ClinicService/obj/Debug/net8.0/ClinicService.AssemblyInfoInputs.cache
c#/ClinicService/ClinicService/obj/Debug/net8.0/ClinicService.AssemblyInfo.cs
c#/ClinicService/ClinicService/obj/Debug/net8.0/ClinicService.AssemblyInfoInputs.cache
/c#/ClinicService/.vs/ClinicService/FileContentIndex/2ca437e1-1e95-4df8-8da7-8e1202bc3e10.vsidx
/.gitignore
/.vs/architecture-gb/v17
/c#/ClinicService/.vs/ClinicService/DesignTimeBuild/.dtbcache.v2
/c#/ClinicService/.vs/ClinicService/FileContentIndex/0103ba65-1bf9-41cc-aed1-d1c1fd972479.vsidx
/c#/ClinicService/.vs/ClinicService/FileContentIndex/202264fb-d06b-4c53-9436-a619051694f5.vsidx
*.vsidx
/c#/ClinicService/.vs/ClinicService/FileContentIndex/239bd713-edd0-4e88-9840-e8cacb2d4909.vsidx
/c#/ClinicService/.vs/ClinicService/FileContentIndex/860cdeed-a2fd-407b-9862-05fe5733bd78.vsidx
/c#/ClinicService/.vs/ClinicService/FileContentIndex/a301a427-31d1-45a7-a87e-e9ce2c953936.vsidx
/c#/ClinicService/.vs/ClinicService/FileContentIndex/b9bec5e7-9b07-4893-93fb-b43a9d508ef2.vsidx
/c#/ClinicService/.vs/ClinicService/v17/.futdcache.v2
/c#/ClinicService/.vs/ClinicService/v17/.suo
/c#/ClinicService/.vs/ClinicService/v17/DocumentLayout.backup.json
/c#/ClinicService/.vs/ClinicService/v17/DocumentLayout.json
/.idea/workspace.xml
/.vs/VSWorkspaceState.json
